<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定-->
<mapper namespace="priv.ljh.mapper.ArrangeMapper">

    <!--查询所有的信息-->
    <select id="queryAllArrange" resultType="Arrange">
        select * from arrange;
    </select>

    <!--根据id查询-->
    <select id="queryArrangeById" resultType="Arrange">
        select * from arrange where id =#{id}
    </select>

    <!--添加一条数据-->
    <insert id="addArrange" parameterType="Arrange">
        insert into arrange (arrange_code, arrange_name) values (#{arrange_code},#{arrange_name});
    </insert>

    <!--更新一条数据-->
    <update id="updateArrange" parameterType="Arrange">
        update arrange
        set arrange_code = #{arrange_code},arrange_name =#{arrange_name}
        where id = #{id};
    </update>

    <!--删除一条信息-->
    <delete id="deleteArrangeByID" parameterType="Integer">
        delete from arrange where id = #{id};
    </delete>
</mapper>